{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">📊 Dashboard</h3>

<div class="row mb-4">
    <div class="col">
        <div class="card text-white bg-danger p-3">
            Açık Arızalar: {{acik}}
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success p-3">
            Kapalı Arızalar: {{kapali}}
        </div>
    </div>
</div>

<table class="table table-hover table-striped shadow bg-white">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Cihaz</th>
            <th>Personel</th>
            <th>Durum</th>
        </tr>
    </thead>

    <tbody>
    {% for a in arizalar %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.cihaz}}</td>
            <td>{{a.personel}}</td>
            <td>{{a.durum}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
