{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">➕ Yeni Arıza</h3>

<div class="card p-4 shadow bg-white" style="max-width:500px;">
<form method="post">

<select name="cihaz" class="form-control mb-2">
    {% for c in cihazlar %}
    <option value="{{c.ad}}">{{c.ad}}</option>
    {% endfor %}
</select>

<select name="personel" class="form-control mb-2">
    {% for p in personeller %}
    <option value="{{p.ad}}">{{p.ad}}</option>
    {% endfor %}
</select>

<input name="aciklama" class="form-control mb-3" placeholder="Açıklama">

<button class="btn btn-success w-100">Kaydet</button>

</form>
</div>

{% endblock %}
